<app-toolbar>
    <nz-space>
        <button *nzSpaceItem nz-button nzType="primary" (click)="reload()">
            <i nz-icon nzType="reload" [nzSpin]="loading"></i>
            刷新
        </button>
        <app-search-box
            *nzSpaceItem
            (onSearch)="search($event)"
        ></app-search-box>
        <ng-template [ngIf]="showAddBtn"> </ng-template>
        <button *nzSpaceItem nz-button nzType="primary" (click)="choose()">设备分区</button>
    </nz-space>
</app-toolbar>

<div nz-row [nzGutter]="16" style="padding: 0 20px">
    <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-table
            style="border: 1px solid rgb(237, 237, 237)"
            #basicTable
            [nzData]="datum"
            [nzLoading]="loading"
            nzShowPagination
            nzShowSizeChanger
            [nzTotal]="total"
            (nzPageSizeChange)="pageSizeChange($event)"
            (nzPageIndexChange)="pageIndexChange($event)"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
        >
            <thead>
                <tr>
                    <th>选择设备</th>
                    <th nzColumnKey="id">设备ID</th>
                    <th nzColumnKey="name">设备名称</th>
                    <th nzColumnKey="area_id">区域ID</th>

                    <th
                        nzColumnKey="area_id"
                        [nzFilterMultiple]="false"
                        [nzFilters]="filterName"
                        [nzFilterFn]="nameFilterFn"
                    >
                        分区状态
                    </th>
                </tr>
            </thead>
            <tbody cdkDropList (cdkDropListDropped)="drop($event)">
                <tr
                    cdkDrag
                    *ngFor="let data of basicTable.data; let i = index"
                    
                >
                    <td [nzChecked]="data.checked"
                    (nzCheckedChange)="handleItemChecked(data, $event,1)"></td>
                    <td>{{ data.id }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.area || data.area_id }}</td>

                    <td>
                        <nz-tag
                            [nzColor]="
                                data.area || data.area_id
                                    ? 'success'
                                    : 'error'
                            "
                        >
                            <ng-container
                                *ngIf="
                                    data.area || data.area_id;
                                    else elseTemplate
                                "
                            >
                                已分区
                            </ng-container>
                            <ng-template #elseTemplate> 未分区 </ng-template>
                        </nz-tag>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>

    <!-- <div
        nz-col
        class="gutter-row"
        [nzSpan]="2"
        style="display: flex; justify-content: center; align-items: center"
    >
        <button nz-button nzType="primary" (click)="choose()">选择分区</button>
    </div> -->
    <div nz-col class="gutter-row" [nzSpan]="12">
        <nz-table
            style="border: 1px solid rgb(237, 237, 237)"
            #t
            [nzData]="area"
            [nzLoading]="loading"
            nzShowPagination
            nzShowSizeChanger
            [nzTotal]="total"
            (nzPageSizeChange)="pageSizeChange($event)"
            (nzPageIndexChange)="pageIndexChange($event)"
            [nzPageSize]="pageSize"
            [nzPageIndex]="pageIndex"
            (nzQueryParams)="onQuery($event)"
        >
            <thead>
                <tr>
                    <th>选择区域</th>
                    <th nzColumnKey="id">区域ID</th>

                    <th nzColumnKey="name">区域名称</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let data of t.data; let i = index"
                    
                >
                <td [nzChecked]="data.checked"
                (nzCheckedChange)="handleItemChecked(data.id, $event,0)"></td>
                    <td>{{ data.id }}</td>

                    <td>{{ data.name }}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
